@use '@angular/material' as mat;

$theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$cyan-palette,
        tertiary: mat.$green-palette,
        use-system-variables: true,
        system-variables-prefix: app,
      ),
      typography: (brand-family: 'Inter, Roboto, Arial, sans-serif',
        plain-family: 'Inter, Roboto, Arial, sans-serif',
      ),
      density: (scale: 0,
      )));

html {
  @include mat.all-component-themes($theme);
}

@theme {
  --color-primary: #006064;
  --color-primary-foreground: #ffffff;

  --color-secondary: #455a64;
  --color-secondary-foreground: #ffffff;

  --color-tertiary: #2e7d32;
  --color-tertiary-foreground: #ffffff;

  --color-background: #f8fafb;
  --color-foreground: #1c1b1f;

  --color-surface: #ffffff;
  --color-surface-foreground: #1c1b1f;

  --color-border: #d0d5dd;
}