@use './styles/theme';
@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --mat-sys-surface-container: #FFF;
  --mat-icon-button-disabled-icon-color: #EEE;
}